<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <style>
        {{!-- .jumbotron {
            background-image: url("https://breaknwings.ca/wp-content/uploads/2018/08/Burgers.jpg"), url("")
            background-position-y: center;
            margin-top: 5rem;
        } --}}

         .alert-warning {
    color: #ffffff;
    background-color: #ff8800a1;
    border-color: #020102;
    text-align: center;
    font-family: cursive;
}

        body {
            border: #ff8800;
            background-color: #ffe9d5;
            background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/17/ba/a6/31/burger.jpg");
            <background-position-y:center;
            background-size: inherit;
            background-repeat: repeat;
        }
        .input-group-text{
    color: #945c089d;
    font-size: 1.5rem;
    background-color: #d4e23c;
        }
             .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: absolute;
    float: right;
   
}
.text-center {
    text-align: center!important;
    border-color: red;
}
    </style>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a style="color: goldenrod;" class="navbar-brand" href="#">EA-DA-BURGER</a>
  </div>
</nav>
      
        {{!-- <div class="jumbotron jumbotron-fluid">
            <div style="background-image: url('https://breaknwings.ca/wp-content/uploads/2018/08/Burgers.jpg');">
            </div>
        </div>
    </div> --}}
    {{{body}}}
  
        <form action="/" method="POST">
          <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="burgerType" class="form-label"></label>
                        <input  class="form-control text-center" id="burgerType" name="burgers" placeholder="Burger Input">
                        <button class="btn btn-success float-top">Make The Burger</button>
                    </div>
                </div>
                </div>
                </form>
            
            



</body>

</html>