           <style>
           .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: absolute;
   
}
</style>

            

<div class="container">
     <div class="row">
        <div class="col-xs">
                {{#each availBurger}}
   
            <span class="input-group-text">{{burger_name}}</span>
            <a style="float: right;" href="/devoured/{{id}}" type="button" class="btn btn-danger">Devour<a>
           
                    {{/each}}
               </div>
                  {{#each burgDev}}
                <div class="col-sm">
        <div  class="alert alert-warning container" role="alert">Devoured it!
                   </div>
         </div>
        {{/each}}
  


      
     
     </div>
 
</div>
