

        {{#each availBurger}}  
        <div class="container">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary">{{burger_name}}</button>
          
              
                            <div class="row">
                                <div class="col">
                                    <a href="/devoured/{{id}}" type="button" class="btn btn-danger">Devour<a>
                                             {{/each}}

                                    {{#each burgDev}}
                                    <div class="alert alert-warning" role="alert">{{burger_name}}</div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

       

